@tailwind base;
@tailwind components;
@tailwind utilities;

.item {
  align-items: center;
  color: black;
  
  display: flex;
  font-size: 16px;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.disabled-page {
  color: #808e9b;
}

.active {
  border: solid 1px #808e9b;
  border-radius: 40px;
  color: #fff;
  background-color: #808e9b;
}

.break-me {
}

.pagination {
  align-items: center;
  background-color: white;
  display: flex;
  height: 60px;
  justify-content: center;
  list-style: none;
  position: relative;
  width: auto;
  gap: 5px;
  cursor: pointer;
}

.previous:hover,
.next:hover,
.pagination-page:hover{
  background-color: #808e9b;
  color: #fff;
  border: solid 1px #808e9b;
  border-radius: 40px;
}

.pagination-page {
  padding: 5px 8px;
  font-weight: 700;
}

.previous {
  font-size: 16px;
  height: flex;
  margin-right: 8px;
  position: left;
  width: flex;
  border: solid 1px #808e9b;
  border-radius: 40px;
  color: #808e9b;
}

.next {
  font-size: 16px;
  height: flex;
  margin-left: 8px;
  position: right;
  width: flex;
  border: solid 1px #808e9b;
  border-radius: 40px;
  color: #808e9b;
}



@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;
  background-color: var(--color-bg);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}